body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    padding: 0;
  }

  .header {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
  }
  
  .header h2 {
    flex: 1; /* This will make the header text take up the remaining space */
    text-align: center; /* Center the header text */
  }

  .header button {
    margin-right: 20px;
    /* increment size of the button anf automatically decrease at reduction of screen size*/
    font-size: calc(0.5em + 1vw);
  }

  .rainbow {
    background-image: linear-gradient(
      to right,
      #ff0000,
      #ff7f00,
      #9400d3,
      green,
      blue
    );
    background-clip: text;
    -moz-background-clip: text;
    -ms-background-clip: text;
    -o-background-clip: text;
    background-clip: text;
    color: transparent; /* Rende il testo trasparente */
  }


  .buttons {
    padding: 15px;
    margin: 15px;
    border-radius: 15px;
    width: 300px;
    font-weight: bolder;
    font-size: x-large auto;
  }
  
  .buttons:hover {
    background-color: #e0c6de;
  }

  .table-spacing td {
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border: solid black 3px;
    font-weight: bold;
  }

  /*
  .scroll-follow-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    border-radius: 10px;
    font-size: x-large auto;
  }*/

  .plots {
    width: 100%;
  }

  .containerf {
    min-height: 100%;
    position: relative;
  }

  .footer {
    bottom: 0;
    width: 100%;
    font-size: x-large;
  }

  .results {
    font-size: xx-large auto;
    padding: 60px
  }