<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <title>Uniform Coloring</title>
  </head>
  <body>
    <header class="bg-dark text-white text-center py-4">
      <h2 class="display-4 font-weight-bolder">Uniform Coloring app!</h2>
    </header>
    <div class="jumbotron" style="font-size: large">
      <p class="text-justify">
        <strong>Uniform Coloring</strong> è un dominio in cui si hanno a
        disposizione alcune celle da colorare, e vari colori a disposizione. Per
        semplicità immaginiamo una griglia rettangolare in cui è possibile
        spostare una testina colorante fra le celle attigue secondo le 4
        direzioni cardinali <strong>(N,S,E,W)</strong>, senza uscire dalla
        griglia. Tutte le celle hanno un colore di partenza:
        <span class="font-weight-bold text-primary m-0">B=blu, </span>
        <span class="font-weight-bold text-warning">Y=yellow, </span>
        <span class="font-weight-bold text-success">G=green </span>
        ad eccezione di quella in cui si trova la testina indicata con T. La
        testina può colorare la cella in cui si trova con uno qualsiasi dei
        colori disponibili a differenti costi
        <strong>(cost(B)=1, cost(Y)=2, cost(G)=3)</strong>, mentre gli
        spostamenti hanno tutti costo uniforme pari a 1.
      </p>
      <p class="text-justify">
        <strong style="color: red"
          >L'obiettivo è colorare tutte le celle dello stesso colore (non
          importa quale) e riportare la testina nella sua posizione di
          partenza.</strong
        >
        La codifica di tutto il dominio (topologia della griglia, definizione
        delle azioni etc.) è parte dell'esercizio. Partendo dalla posizione
        iniziale della testina e combinando azioni di spostamento e colorazione,
        si chiede di trovare la sequenza di azioni dell'agente per raggiungere
        l'obiettivo. La posizione iniziale della testina, la struttura della
        griglia e la colorazione iniziale delle celle sono passati al sistema
        tramite un'immagine.
      </p>
    </div>
    <div
      class="container d-flex flex-column justify-content-center align-items-center vh-50"
    >
      <img
        class="img-fluid"
        src="{{url_for('video_feed')}}"
        alt="100%"
        width="800px"
        style="border-radius: 15px"
      />
    </div>
    <div id="results"></div>
    <div class="container text-center">
      <button
        style="
          padding: 15px;
          margin: 15px;
          border-radius: 15px;
          width: 300px;
          font-weight: bolder;
          font-size: larger;
        "
        style="font-size: large; border-radius: 15px"
        onclick="saveImage()"
      >
        <span class="rainbow">Save image</span>
      </button>
    </div>
    <div class="container text-center">
      <button
        id="process-image-button"
        style="
          padding: 15px;
          margin: 15px;
          border-radius: 15px;
          width: 300px;
          font-weight: bolder;
          font-size: larger;
        "
        style="font-size: large; border-radius: 15px"
      >
        <span class="rainbow">Process image</span>
      </button>
    </div>

    <script>
      function saveImage() {
        fetch("/save_image", { method: "POST" });
      }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      $("#process-image-button").click(function () {
        $.post("/process_image", function (data) {
          $("#results").html(data);
        });
      });
    </script>
    <footer class="footer mt-auto py-3 bg-dark text-white">
      <div class="container text-center" style="bottom: 0">
        <span>&copy; Progetto Introduzione all'intelligienza artificiale</span
        ><br />
        <span>Eduard Brahas - Chionne Daniel</span>
      </div>
    </footer>
  </body>
  <style>
    .rainbow {
      background-image: linear-gradient(
        to right,
        #ff0000,
        #ff7f00,
        #9400d3,
        green,
        blue
      );
      background-clip: text;
      -moz-background-clip: text;
      -ms-background-clip: text;
      -o-background-clip: text;
      background-clip: text;
      color: transparent; /* Rende il testo trasparente */
    }
  </style>
</html>
