<div class="container-fluid justify-content-center text-justify pd-3 m-3">
  <h2>Training statistics</h2>
  <div class="row">
    <div class="col-md-4">
      <img
        src="{{ url_for('static', filename='plots/accuracy_plot.png') }}"
        alt="accuracy_plot"
        class="plots"
      />
    </div>
    <div class="col-md-4">
      <img
        src="{{ url_for('static', filename='plots/loss_plot.png') }}"
        alt="loss_plot"
        class="plots"
      />
    </div>
    <div class="col-md-4">
      <img
        src="{{ url_for('static', filename='plots/confusion_matrix.png') }}"
        alt="confusion_matrix"
        class="plots"
      />
    </div>
  </div>
  <div class="container-fluid">
    <p>Accuracy in tests: {{ accuracy }}</p>
    <p>Loss in tests: {{ loss }}</p>
    <p>Classification report: {{class_report}}</p>
  </div>
</div>
